@using INTEX.Models
@using INTEX.Models.DatabaseModels
@using INTEX.Models.Infrastructure
@using INTEX.Models.ViewModels
@using Microsoft.AspNetCore.Identity
@inject UserManager<Customer> UserManager
@inject RoleManager<IdentityRole> RoleManager

@{
    ViewData["Title"] = "Privacy Policy";
}

@model CustomersListViewModel

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth Date</th>
            <th>Country of Residence</th>
            <th>Gender</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model.CustomersRoles)
        {
            <tr>
                <td>@c.Customer.Id</td>
                <td>@c.Customer.FirstName</td>
                <td>@c.Customer.LastName</td>
                <td>@c.Customer.BirthDate</td>
                <td>@c.Customer.HomeAddress.Country</td>
                <td>@c.Customer.Gender</td>
                <td>@c.Roles[0]</td>
                <td><a asp-controller="Admin" asp-action="CustomerForm" asp-route-customerId="@c.Customer.Id" asp-route-role="@c.Roles[0]" formmethod="get">Edit</a></td>
                <td><a asp-controller="Admin" asp-action="ConfirmDeleteCustomer" asp-route-customerId="@c.Customer.Id" formmethod="get">Remove</a></td>
            </tr>
        }
    </tbody>
</table>
