@{
    ViewData["Title"] = "Home Page";
}


@model ProductsListViewModel

<div class="text-center">
    <h1>Products - Admin</h1>
    <a asp-controller="Admin" asp-action="ProductForm" class="btn btn-primary">Add Product</a>
</div>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Year</th>
                <th>Number of Parts</th>
                <th>Price</th>
                <th>Image Link</th>
                <th>Primary Color</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Products)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                    <td>@p.ReleaseYear</td>
                    <td>@p.Pieces</td>
                    <td>@p.Price</td>
                    <td>@p.ImgLink</td>
                    <td>@p.PrimaryColor</td>
                    <td><a asp-controller="Admin" asp-action="ProductForm" asp-route-productId="@p.Id" formmethod="get">Edit</a></td>
                    <td><a asp-controller="Admin" asp-action="DeleteConfirmation" asp-route-item="@p" asp formmethod="get">Remove</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>