@model ConfirmOrderViewModel

@{
    ViewData["Title"] = "Cart";
}

<h1 class="Cart">Cart</h1>
@if (Model != null && Model.LineItems != null && Model.LineItems.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lineItem in Model.LineItems)
            {
                <tr>
                    <td>@lineItem.Product.Name</td>
                    <td>@lineItem.Quantity</td>
                    <td>@lineItem.Product.Price.ToString("C")</td>
                    <td>@(lineItem.Quantity * lineItem.Product.Price).ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <h3>Total: @Model.Transaction.Amount.ToString("C")</h3>
    </div>

    <!-- Proceed to Checkout button -->
}
else
{
    <p>Your cart is empty.</p>
}
