@{
    ViewData["Title"] = "Home Page";
}
@model CustomerRecommendationViewModel
<style>
    .background-div-1 {
        background-image: url("img\\LightBlueLegos.png");
        background-size: cover;
        background-position: left center;
        width: 100%;
        height: 1000px;
        color: black;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bestseller-section {
        background: linear-gradient(to right, #82abd5, #bad8f4);
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 40px;
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25), /* Bottom shadow */
        0 -12px 20px rgba(0, 0, 0, 0.25); /* Top shadow */
    }

    .bestseller-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .bestseller-box {
        width: calc(33.33% - 20px);
        margin-bottom: 20px;
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25), /* Bottom shadow */
        0 -12px 20px rgba(0, 0, 0, 0.25); /* Top shadow */
        border-radius: 20px;
        overflow: hidden;
        background-color: white;
    }

    .bestseller-image {
        width: 100%;
        height: 700px; /* Adjust as needed */
        object-fit: contain;
    }

    .yellow-box {
        background-color: #f4dc7a;
        border-radius: 0 0 10px 10px;
        padding: 10px 20px;
    }
</style>


<div class="background-div-1">
    <div class="light-blue-box">
        <h4 class="display-6" style="font-weight: 900;"> Endless Worlds to Explore</h4><br />
        <h1 class="display-3" style="font-weight: 900;">Find Your Set Now</h1><br />
        <button class="shop-button" asp-controller="Home" asp-action="Products">Shop Legos</button>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<div class="bestseller-section">
    <h2>Bestselling Characters</h2><br />
    <div class="bestseller-item">
        <div class="bestseller-box">
            <img class="bestseller-image" src="https://images.brickset.com/sets/large/71017-7.jpg?201611220640" alt="King Tut">
            <div class="yellow-box">King Tut</div>
        </div>
        <div class="bestseller-box">
            <img class="bestseller-image" src="https://www.lego.com/cdn/cs/set/assets/blt2a6bae345f3aa198/40674.png?format=webply&fit=bounds&quality=75&width=640&height=640&dpr=1" alt="Stitch">
            <div class="yellow-box">Stitch</div>
        </div>
        <div class="bestseller-box">
            <img class="bestseller-image" src="https://www.lego.com/cdn/cs/set/assets/blt2ab62c2c368f72f6/31152.png?format=webply&fit=bounds&quality=75&width=800&height=800&dpr=1" alt="Space Astronaut">
            <div class="yellow-box">Space Astronaut</div>
        </div>
    </div>
</div>

<div class="bestseller-section">
    <h2>Bestselling Vehicles</h2><br />
    <div class="bestseller-item">
        <div class="bestseller-box">
            <img class="bestseller-image" src="https://www.lego.com/cdn/cs/set/assets/bltd5d0924daab53e4a/60411_alt1.png?format=webply&fit=bounds&quality=75&width=800&height=800&dpr=1" alt="Fire Rescue Helicopter">
            <div class="yellow-box">Fire Rescue Helicopter</div>
        </div>
        <div class="bestseller-box">
            <img class="bestseller-image" src="https://images.brickset.com/sets/large/1259-1.jpg?199905261030" alt="Motorbike">
            <div class="yellow-box">Motorbike</div>
        </div>
        <div class="bestseller-box">
            <img class="bestseller-image" src="https://images.brickset.com/sets/images/6461-1.jpg" alt="Surveillance Chopper">
            <div class="yellow-box">Surveillance Chopper</div>
        </div>
    </div>
</div>

<div class="bestseller-section">
    <h2>Bestselling Parts</h2><br />
    <div class="bestseller-item">
        <div class="bestseller-box">
            <img class="bestseller-image" src="https://images.brickset.com/sets/images/5070-1.jpg" alt="Wheel Sets, Black">
            <div class="yellow-box">Wheel Sets, Black</div>
        </div>
        <div class="bestseller-box">
            <img class="bestseller-image" src="https://www.lego.com/cdn/product-assets/element.img.lod5photo.192x192/300326.jpg" alt="Brick 2x2">
            <div class="yellow-box">Brick 2x2</div>
        </div>
        <div class="bestseller-box">
            <img class="bestseller-image" src="https://images.brickset.com/sets/large/108-1.jpg?201004210200" alt="Battery Box">
            <div class="yellow-box">Battery Box</div>
        </div>
    </div>
</div>
<br />
<br />
@if (User.Identity?.IsAuthenticated ?? false)
{
    if (Model.Recommendation1 is not null)
    {
        <div class="bestseller-section">
            <h2>Recommended for You</h2>
            <div class="bestseller-item">
                <div class="bestseller-box">
                    <img class="bestseller-image" src="@Model.Recommendation1.ImgLink" alt="@Model.Recommendation1.Name">
                    <div class="yellow-box">@Model.Recommendation1.Name</div>
                </div>
            </div>
            <div class="bestseller-item">
                <div class="bestseller-box">
                    <img class="bestseller-image" src="@Model.Recommendation2.ImgLink" alt="@Model.Recommendation2.Name">
                    <div class="yellow-box">@Model.Recommendation2.Name</div>
                </div>
            </div>
            <div class="bestseller-item">
                <div class="bestseller-box">
                    <img class="bestseller-image" src="@Model.Recommendation3.ImgLink" alt="@Model.Recommendation3.Name">
                    <div class="yellow-box">@Model.Recommendation3.Name</div>
                </div>
            </div>
        </div>
    }
}