@{
    ViewData["Title"] = "Home Page";
}

@model ProductsListViewModel

<!-- This view should have a list of items instead of a table. The table is for the admin view. -->

<button>Add Product</button>
<br />
<br />

<div class="text-center">
    <h1 class="display-4">PRODUCTS</h1>
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Year</th>
                <th>Number of Parts</th>
                <th>Price</th>
                <th>Image Link</th>
                <th>Primary Color</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Products)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                    <td>@p.ReleaseYear</td>
                    <td>@p.Pieces</td>
                    <td>@p.Price</td>
                    <td>@p.ImgLink</td>
                    <td>@p.PrimaryColor</td>
                    <td><button>Edit</button></td>
                    <td><button>Remove</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>