@model INTEX.Models.ViewModels.ConfirmOrderViewModel

@{
    ViewData["Title"] = "Confirm Order";
}

<h1 class="ConfirmOrder">Confirm Order</h1>

@if (User.Identity.IsAuthenticated)
{
    <form method="post" action="@Url.Action("ConfirmOrder", "Customer")">
        @foreach (var lineItem in Model.LineItems)
        {
            <input type="hidden" name="lineItems[@lineItem.Id].ProductId" value="@lineItem.ProductId" />
            <input type="hidden" name="lineItems[@lineItem.Id].Quantity" value="@lineItem.Quantity" />
        }

        <h3>User Information</h3>
        <div>
            <label>Full Name:</label>
            <input type="text" name="FullName" value="@User.Identity.Name" readonly />
        </div>
        <div>
            <label>Email:</label>
            <input type="email" name="Email" value="@User.Identity.Name" readonly />
        </div>
        <div>
            <label>Phone Number:</label>
            <input type="tel" name="PhoneNumber" />
        </div>

        <h3>Shipping Address</h3>
        <div>
            <label>Street Address 1:</label>
            <input type="text" name="ShippingAddress.AddressLine1" />
        </div>
        <div>
            <label>Street Address 2:</label>
            <input type="text" name="ShippingAddress.AddressLine2" />
        </div>
        <div>
            <label>City:</label>
            <input type="text" name="ShippingAddress.City" />
        </div>
        <div>
            <label>State:</label>
            <input type="text" name="ShippingAddress.State" />
        </div>
        <div>
            <label>ZIP:</label>
            <input type="text" name="ShippingAddress.Code" />
        </div>
        <div>
            <label>Country:</label>
            <input type="text" name="ShippingAddress.Country" value="United States" readonly />
        </div>

        <h3>Billing Address</h3>
        <div>
            <label>Same as Shipping Address:</label>
            <input type="checkbox" name="SameAsShipping" id="sameAsShipping" />
        </div>
        <div id="billingAddressFields">
            <div>
                <label>Street Address 1:</label>
                <input type="text" name="BillingAddress.AddressLine1" />
            </div>
            <div>
                <label>Street Address 2:</label>
                <input type="text" name="BillingAddress.AddressLine2" />
            </div>
            <div>
                <label>City:</label>
                <input type="text" name="BillingAddress.City" />
            </div>
            <div>
                <label>State:</label>
                <input type="text" name="BillingAddress.State" />
            </div>
            <div>
                <label>ZIP:</label>
                <input type="text" name="BillingAddress.Code" />
            </div>
            <div>
                <label>Country:</label>
                <input type="text" name="BillingAddress.Country" value="United States" readonly />
            </div>
        </div>

        <h3>Payment Information</h3>
        <div>
            <label>Bank:</label>
            <input type="text" name="Transaction.Bank" />
        </div>
        <div>
            <label>Card Type:</label>
            <input type="text" name="Transaction.CardType" />
        </div>
        <div>
            <label>Entry Type:</label>
            <input type="text" name="Transaction.EntryMode" />
        </div>
        <div>
            <label>Cardholder Name:</label>
            <input type="text" name="CardholderName" />
        </div>
        <div>
            <label>Card Number:</label>
            <input type="text" name="CardNumber" />
        </div>
        <div>
            <label>Expiration Date:</label>
            <input type="text" name="ExpirationDate" placeholder="MM/YY" />
        </div>
        <div>
            <label>CVV:</label>
            <input type="text" name="CVV" />
        </div>

        <button type="submit">Place Order</button>
    </form>
}
else
{
    <p>Please <a href="@Url.Action("Login", "Account", new { returnUrl = Context.Request.Path })">log in</a> to continue.</p>
}
